<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pillow Fighters!</title>

        <script src="Script.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    </head>
    <body>
        <!-- game container -->
        <div id="container">
            <div id="displayBox">
                hello
            </div>
            <div id="inputBox">
                <a href="#" onclick="displayModal()">Create New Game</a>
            </div>
        </div>

        <!-- modal popup for game creation -->
        <div id="modal">
            <div id="mHeader">
                <span style="float: right; border: 1px solid black;">
                    <a href="#" onclick="displayModal()" style="text-decoration: none;">X</a>
                </span>
                <br /><br />
                Create a New Game
            </div>
            <div id="mContent">
                <p>Welcome to Pillow Fighters! Do you think you are the best pillow fighter of them all? Then fill out your info below 
                and get ready to face your mighty opponents! If you can defeat 9 other challengers and rise through the ranks, you'll 
                become the PILLOW CHAMPION!</p>
                
                <div id="gameForm">
                    <form>
                        <p><label>Health:</label> <input type="number" id="usrHp" min="0" max="10"><br /></p>
                        <p><label>Strength:</label> <input type="number" id="usrStr" min="0" max="10"><br /></p>
                        <p><label>Defense:</label> <input type="number" id="usrDef" min="0" max="10"><br /></p>
                        <p><label>Speed:</label> <input type="number" id="usrSpd" min="0" max="10"><br /></p>
                        <p><label>Class:</label> <select id="usrType"></select><br /></p>
                        <p><label>Skill:</label> <select id="usrSkill"></select><br /></p><br />

                        <p><button onclick="createGame()">Submit</button></p>
                    </form>
                </div>

            </div>
            <div id="mFooter">
                
            </div>
        </div>
    </body>
</html>
