<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Pillow Fighters!</title>

        <script src="Script.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="StyleSheet.css">
    </head>
    <body>
        <!-- game container -->
        <div id="container">
            <div id="displayBox">
                hello
            </div>
            <div id="inputBox">
                <a href="#" onclick="displayModal()">Create New Game</a>
            </div>
        </div>

        <!-- modal popup for game creation -->
        <div id="modal">
            <div id="mHeader">
                header -- <a href="#" onclick="displayModal()">close</a>
            </div>
            <div id="mContent">
                content
            </div>
            <div id="mFooter">
                footer
            </div>
        </div>
    </body>
</html>
